{% extends 'todolist/layout.html' %}

{% block content %}

<div style="margin-top: 50px;" class="ui container">
    <h1 class="ui center aligned header">Мой менеджер задач
    </h1>
    <div style="text-align: center">
    <a href="history" class="ui teal basic button">История</a>
    </div>

    <form class="ui form" action="{% url 'add' %}" method="post">
        {% csrf_token %}
        <div class="field">
            <label>Новая задача</label>
            <input type="text" name="title" placeholder="Введите название задачи"><br>
        </div>
        <button class="ui teal basic button" type="submit">Добавить</button>
    </form>
{% for todo in todo_list %}


    {% if todo.is_complete == False %}
    <div class="ui segment">
    <p class="ui big header">№{{ todo.id }} {{ todo.title }}</p>
        <span class="ui gray label">Не завершено</span>
    {% else %}

    {% endif %}

        {% if todo.is_complete == False %}
        <div class="ui segment">
      <a class="ui primary basic button" href="{% url 'update' todo_id=todo.id %}">Закрыть</a>
        <a class="ui negative basic button" href="{% url 'delete' todo_id=todo.id %}">Удалить</a>
            </div>
        </div>
        {% else %}

        {% endif %}





{% endfor %}

{% endblock content %}
